@media(max-width: 480px){
  .hero-page{
    padding: 200px 30px;
    max-width: 100%;
  }
}
@media(max-width: 768px){
  .hero-page{
    padding: 200px 30px;
    max-width: 100%;
  }
}
@media(max-width: 992px){
  ul li{
    margin-right: 80px;
  }
}
@media(max-width: 1280px){
  ul li{
    margin-right: 120px;
  }
}