*{
  margin: 0;
  box-sizing: border-box;
}
/* top content */
.top-content{
  background-color: #004777;
  height: 60px;
  display: flex;
  align-items: center;
}
.flex-top-icons{
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.flex-icon{
  display: flex;
  gap: 10px;
  color: white;
}










/* down content */

.pic-logo{
  width: 50px;
  height: 50px;
  filter: invert(100%);
  background-image: url("https://s3.amazonaws.com/logosnap/logos/2022/Oct/small-5331-63429cd92c45d.png");
  /* margin-right: 60px; */
  margin-left: 40px;
}
header{
  /* background-color: #004777; */
  height: 60px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 100px; */
}
header ul{
  display:flex;
  list-style: none;
  margin-right: 0px;
  justify-content: space-around;
}
ul li{
  margin-right: 120px;
  /* color: black; */
}
.atag{
  font-size: 18px;
  color: black;
}
.atag:hover{
  color: gray;
}
.atag:active{
  color: #004777;
}
/* Hero page */

.hero-page{
  background-image: linear-gradient(to right, rgba(0, 175, 181, 0.3), rgba(255,255,255,1)), url("https://images.pexels.com/photos/572897/pexels-photo-572897.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 80vh;
  padding: 200px 100px;
}
.hero-page div{
  width: 100%;
}
.hero-page div h1{
  font-size: 52px;
  max-width: 500px;
}